*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:#926239;
    background-color: #f4f4f4; 
}
#showcase{
    background-image: url(/imgs/beach_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px;
}
#showcase h1{
    font-size: 50px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
    margin-bottom: 20px;
    padding:0 20px;
}
#showcase a{
    text-decoration: none;
    color:#926239;
    font-size: 15px;
    border:2px #926239 solid;
    border-radius: 7px;
    padding:8px 15px;
}
#showcase a:hover{
    color:#ffffff;
    background-color: #926239;
    transition: all 1s;
}
#box1{
    color:#f4f4f4;
    background-color: #926239;
    text-align: center;
    padding: 20px;
}
#box2{
    color:#926239;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
#box3{
    display: flex;
    flex-direction: row;

}
.col1{
    color:#f4f4f4;
    background-color: #926239;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}
.col2{
    color:#926239;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}